# **Task5**: 
You need to write a program that counts the number of vowels in a given sentence as input from console. 
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
a appeared 2 times
e appeared 5 times
i appeared  1 time
o appeared 2 times
u appeared 0 time

In [ ]:
sentence= input("Enter the words for Vowels Counts- ")
wordCount=sentence.count('a')
print(f"a appeared {wordCount} times")
wordCount=sentence.count('e')
print(f"e appeared {wordCount} times")
wordCount=sentence.count('i')
print(f"i appeared {wordCount} times")
wordCount=sentence.count('o')
print(f"o appeared {wordCount} times")
wordCount=sentence.count('u')
print(f"u appeared {wordCount} times")

Enter the words for Vowels Counts- hello world practice make perfect
a appeared 2 times
e appeared 5 times
i appeared 1 times
o appeared 2 times
u appeared 0 times

## **Task4:**
You need to write a program that takes sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [ ]:
string= input()
a=string.upper()
print (a)

hello world practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

## **Task6:**
You need to trace and make a list of all such numbers from1000 to 3000 in which all the digits are even numbers.

In [ ]:
a=[]
for i in range(1000,3000+1):
    x= str (i)
    if int(x[0])%2==0:
        if int(x[1])%2==0:
          if int(x[2])%2==0:
            if int(x[3])%2==0:
                  a.append(x)
print (a)

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

## **Task3:**
You need to write a code that takes a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [ ]:
value = input("Enter a words more than 2 separated by comma : ").split(",")
value.sort()
print(f"{value[0]},{value[1]},{value[2]}")

Enter a words more than 2 separated by comma : without, hello, bag, world
 bag, hello, world

In [ ]:
,,,                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ssssss,.......[%%!]

# **Task9:**

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:
8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
dict0 = {}
n = int(input())
for i in range(1,n+1):
  dict0[i]=i*i
i+=1
print(dict0)

9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# **Task8**:

Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [ ]:
given= input("Accepted Sentence")
digit =0;
letters =0;
for continuing in given:
  if continuing.isalpha():
    letters += 1;
  elif continuing.isdigit():
    digit += 1;
print(f"LETTERS {letters}\nDIGITS {digit}")

Accepted SentenceHELLO WORLD! 123
LETTERS 10
DIGITS 3

# **Task1: Question:**

You need to write a ocde in python that finds all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
Print the obtained numbers in a comma-separated sequence on a single line.

In [ ]:
list = [i for i in range (2000,3201) if i%7==0 and i%5!=0]
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# **Task2**:

You need code a program that calculates and prints the value according to the given formula:

P = Square root of [(2 * A * B)/C]

Following are the fixed values of A and B:

A is 50.
 B is 30.

The values of the literal C should be taken as console input to your program in a comma-separated sequence.

Example

Let us assume the following comma separated input sequence is given to the program:

100,150,180

The output of the program should be:

18,22,24

In [ ]:
A = 50
B = 30
result=[]
C = input("Type three numbers separated by comma: \n")
C=C.split(",")
for i in C:
  P = (int(((2*A*B)//int(i))**0.5))
  result.append(P)
print(result)

Type three numbers separated by comma:
100
[5]

In [ ]:
A = 50
B = 30
C = input("Type three numbers separated by comma: ").split(",")
for i in C:
  P = (((2*A*B)/int(i))**0.5)
print(P)

Type three numbers separated by comma: 100, 150, 180
4.08248290463863

Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is gi…

In [ ]:
import math

numbers = input("Provide D: ")
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

Provide D: 100,150,180
[18, 22, 24]

# **Task7**

You need to write a code which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.


Example:

0100,0011,1010,1001

Then the output should be:

1010
Reference: https://www.datacamp.com/.../python-data-type-conversion

https://stackoverflow.com/.../converting-binary-to...

In [ ]:
nums = input ("Enter binary values in a comma_seperated sequence: \n").split(',')
binary=[]
decimal=[]
for i in nums:
  if int(i,2)%5==0:
    x=int(i,2)
    binary.append (i)
    decimal.append (x)
binary=set(binary)
decimal=set(decimal)
print("Below values are divisible by 5:")
print("Binary:", binary)
print("Decimal:", decimal)

Enter binary values in a comma_seperated sequence:
0100,0011,1010,1001
Below values are divisible by 5:
Binary: {'1010'}
Decimal: {10}

# **Task9**:

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:

8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
dict0 = {}
n = int(input())
for i in range(1,n+1):
    dict0 [i]=i*i
    i+=1
print(dict0)

6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}