# Previous Discussed

- List
- Tuple
- Set

# Today Discussed

- Dictionary

# Dictionary

a key-value pair

In [96]:
# declare and initialize

a_dic = {"name" : "osama","age":  22  }
#          key     value   key  vakue

In [2]:
type(a_dic)

dict

In [3]:
print(type(a_dic))

<class 'dict'>

In [7]:
empty_dic = {}
alist = [1,2,3,4,5]
aset  = {11,22,33}
atuple= (123,44,55)
astring = "SMIT = SEYLANI MASS INDEX"

In [9]:
print(len(empty_dic),len(alist),len(aset),len(atuple), len(astring))

0 5 3 3 25

In [10]:
a_dic

{'name': 'osama', 'age': 22}

Operations are create, add, update, delete,retrieve (CRUD)

In [13]:
# Create
a_dic = {"name" : "osama","age":  22  }

In [14]:
a_dic["city"] = "Abbottabad"

In [16]:
a_dic

{'name': 'osama', 'age': 22, 'city': 'Abbottabad'}

In [18]:
# Update
a_dic["age"] = 23

In [19]:
a_dic

{'name': 'osama', 'age': 23, 'city': 'Abbottabad'}

In [20]:
# Retrieve (get)
a_dic["age"]

23

In [21]:
# another way of getting value
a_dic.get("age")

23

In [22]:
# Delete

del a_dic["city"]

In [24]:
a_dic

{'name': 'osama', 'age': 23}

In [25]:
# iterable is using loop to get value one by one or either single value
# now to iterate dictionary 

roll_1 = {"name": "asad", "section": "B", "age": 22, "course":"python"}

In [26]:
roll_1["course"]

'python'

In [28]:
# iterating the dictionary value
for dic_value in roll_1:
    print(dic_value)
# if we directly iterate over a dictionary it will return only the keys

name
section
age
course

In [30]:
for keys in roll_1.keys():
    print(keys)

name
section
age
course

In [31]:
for value in roll_1.values():
    print(value)

asad
B
22
python

In [34]:
# Retrieving all values via keys

for keys in roll_1.keys():
    print(f"the keys is {keys} and values are  {roll_1[keys]} ")

the keys is name and values are  asad
the keys is section and values are  B
the keys is age and values are  22
the keys is course and values are  python

In [35]:
# getting key value together from dictionary

for xyz in roll_1.items():
    print(xyz)

('name', 'asad')
('section', 'B')
('age', 22)
('course', 'python')

In [37]:
for key,value in roll_1.items():
    print(f"key: {key} value: {value}")

key: name value: asad
key: section value: B
key: age value: 22
key: course value: python

In [50]:
# A key can be a integer or string
# A value can be a string a number, a list, a tuple, a set, a dictionary, a boolean
# A boolean can not be a key but can be a value

miscDic = {1:100, 2:200}

In [40]:
miscDic

{1: 100, 2: 200}

In [44]:
miscDic["three"]= 300

In [45]:
miscDic

{1: 100, 2: 200, 'three': 300}

In [46]:
miscDic[4] = "four hundred"

In [47]:
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'four hundred'}

In [48]:
miscDic["test"] = False

In [49]:
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'four hundred', 'test': False}

# A list in a Dictionary

In [53]:
class_python = {"students":["osama", "ali", "asad", "umair", "zain"], 
                "courses" :["python","web", "network", "cods", "ai"],
                "days"    :["monday", "tue","wednesd","thur", "fri"],
                "ages"    :[22,22,23,21,20]}

In [54]:
for key,value in class_python.items():
    print(value)

['osama', 'ali', 'asad', 'umair', 'zain']
['python', 'web', 'network', 'cods', 'ai']
['monday', 'tue', 'wednesd', 'thur', 'fri']
[22, 22, 23, 21, 20]

In [55]:
# get a sinle student record
for key,value in class_python.items():
    print(value[0])

osama
python
monday
22

In [56]:
import pandas

In [57]:
pandas.DataFrame(class_python)

  students  courses     days  ages
0    osama   python   monday    22
1      ali      web      tue    22
2     asad  network  wednesd    23
3    umair     cods     thur    21
4     zain       ai      fri    20

## Keyword "in"

In [60]:
a = ['osama', 'ali', 'asad', 'umair', 'zain']
for name in a:
    if name == "ali":
        print('True')
        break

True

In [61]:
"ali" in a

True

In [62]:
if "ali" in a:
    print("yes")

yes

In [ ]:
class_python["courses"][]

## Keyword "is"

In [68]:
# pass by value
b = a.copy() 
c = a[:]
# pass by refernce
d = c

In [63]:
type(a)

list

In [66]:
if type(a) == list:
    b = a.copy()
type(b)

list

In [69]:
d is c

True

In [70]:
z = 100
x = z # Instead of creating new it will point it to the same address
y =100

In [71]:
z is x

True

In [72]:
y is z

True

In [73]:
class_python["courses"][2]

'network'

In [79]:
for key in class_python.values():
    print(key[1])

ali
web
tue
22

In [85]:
for key in class_python:
    print(course)

zain
zain
zain
zain

In [87]:
for key in class_python:
    if key =="courses":
        for course in class_python[key]:
            print(course)

python
web
network
cods
ai

In [94]:
for key in class_python:
    if key =="courss":
        for course in class_python[key]:
            print(course)
    else:
        print("there is no 'course' key")
        break

there is no 'course' key

In [91]:
for key in class_python:
    print(key)

students
courses
days
ages

In [92]:
for key in class_python["courses"]:
    print(key)

python
web
network
cods
ai

In [95]:
for key in class_python["courss"]:
    print(key)

KeyError: 'courss'