# Last Class

- String
- String functions
- String concatenation
- String indexing
- Opereator/operands
- Variable name legal and illegal
- Number system

# Today Class

- Operators
- Typecasting
- User Inputs
- String Formation
- Variable naming convention

# Operators

- +
- -
- *
- /
- //
- % 
- >, <, <=, >=, != 
- Uniary Operators
   - a=a+1 (incremental) +=
   - b=b-1 (decremental) -=

In [1]:
print(2+3)   # int + int

5

In [2]:
print(2+2.4) # int + float

4.4

In [3]:
print(3.5*6.6) # float * float

23.099999999999998

In [6]:
round(23.099999999999998,3)

23.1

In [7]:
round(3.5*6.6,3)

23.1

In [8]:
11/2 # int / int
# '/' is floating division

5.5

In [9]:
11//2 # int // int
# '//' is integer division

5

In [10]:
11%2 # int % int
# Modulus Operator or Modulo: This return reminders

1

In [11]:
12 != 12

False

In [12]:
age = 34

In [13]:
age+1

35

In [18]:
age = age + 1
age

40

In [19]:
age = age + 2
age

42

In [20]:
age +=5
age

47

In [21]:
age = age - 5
age

42

In [22]:
age -=1
age

41

In [23]:
age -=2
age

39

In [24]:
age /= 2
age

19.5

In [25]:
age *= 2
age

39.0

In [26]:
1 / 1

1.0

In [27]:
1//1

1

In [28]:
10/2.5

4.0

In [29]:
10//2.5 # // will give float only when we have integer

4.0

In [30]:
age

39.0

In [33]:
age //=2 # float // integer
age

19.0

In [34]:
marks = 90
marks

90

# Type Casting

In [35]:
marks = 90
type(marks)

int

In [36]:
print(type(marks))

<class 'int'>

In [37]:
float(marks)

90.0

In [38]:
per = 83.5
per

83.5

In [39]:
type(per)

float

In [40]:
int(per)

83

In [41]:
per

83.5

In [42]:
per = int(per)

In [43]:
per

83

In [44]:
bloodpressure = "85"

In [45]:
print(type(bloodpressure))

<class 'str'>

In [46]:
int(bloodpressure)

85

In [47]:
coding = "python"

In [48]:
int(coding) # Not all variable can be typecast only those variable can be typecast which have numbers in it.

ValueError: invalid literal for int() with base 10: 'python'

# User Input

The input given at console by user is always a string even if the user add number, it will still be a string

In [49]:
input()

23

'23'

In [50]:
input()

MY NAME IS OSAMA SHAKEEL and I AM LEARNING PYTHON

'MY NAME IS OSAMA SHAKEEL and I AM LEARNING PYTHON'

In [51]:
input("please tell me your good name")

please tell me your good nameOsama Shakeel

'Osama Shakeel'

In [52]:
name = input("Plese let me know your name!")

Plese let me know your name!My name is Osama

In [53]:
name

'My name is Osama '

In [55]:
userage = input("Tell me your age! ")

Tell me your age! 23

In [56]:
userage

'23'

In [57]:
type(userage)

str

In [61]:
print("After five year, User age will be: "   +         int(userage) + 5)
#                  string                     +          integer
str + int >>> error

TypeError: can only concatenate str (not "int") to str

In [63]:
print("After five year, User age will be: "   +         str(int(userage) + 5))
#                  string                     +          str(integer)

After five year, User age will be: 28

In [64]:
books = 10

In [66]:
print("books are : " + str(books))

books are : 10

Dear User your name is "Ali" and your age is 23

Taking user input and doing concatenation

In [ ]:
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")
print("Dear user your name is: " + studentname + "and your age is: " + studentage)
#           string                   string            string            int

In [4]:
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")

Dear student tell me your age 23
Dear student tell me your name osama

In [6]:
print("Dear user your name is: " + studentname + " and your age is: " + str(studentage))
#       string                     string         string                  string

Dear user your name is: osama and your age is: 23

# String Formation

In [ ]:
firstname = "osama"
lastname = "Shakeel"

fullname = firstname+lastname #concatenation
fullname1 = firstname.format()

In [7]:
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")

print("Dear user your name is: {} and your age is: {}".format(studentname, studentage))

# {Placeholder}                                                   0              1

Dear student tell me your age 23
Dear student tell me your name Osama
Dear user your name is: Osama and your age is: 23

In [8]:
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")

print("Dear user your name is: {1} and your age is: {0}".format(studentname, studentage))

# {Placeholder}                                                   0                 1

Dear student tell me your age 23
Dear student tell me your name osama
Dear user your name is: 23 and your age is: osama

In [9]:
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")

print("Dear user your name is: {0} and your age is: {1} okay {0} and your age is {1}".format(studentname, studentage))

Dear student tell me your age 23
Dear student tell me your name osama
Dear user your name is: osama and your age is: 23 okay osama and your age is 23

In [10]:
# Another way of string 
studentage = int(input("Dear student tell me your age "))
studentname = input("Dear student tell me your name ")

print(f"Dear user your name is: {studentname} and your age is: {studentage}")

Dear student tell me your age 23
Dear student tell me your name osama
Dear user your name is: osama and your age is: 23

# Variable Naming Convention

In [12]:
#studentage
###Camel Casing###
studentAge = 23
student_age = 23
my_first_published_book = " Journey to unseen"
myFirstPublishedBook = "Journey to unseen"
print(my_first_published_book)

 Journey to unseen