# Previous Topics

 - List
 - List Methods
 - List Indexing
 - List Slicing

# Topic Discussed

 - More on List
 - Loops
   - For loop
   - While loop

In [2]:
# List Slicing
# Slicing is always done in right direction
# There will be no syntax error in case of slicing but result empty list
# Slice return the cpoy

n1 = [0,  1,  2,   3, 4,  5,   6,  7,  8,  9,  10, 11, 12,  13, 14, 15, 16, 17, 18, 19, 20]
sliced_num = n1[3:7]

In [3]:
sliced_num

[3, 4, 5, 6]

In [4]:
sliced_num = n1[7:3]

In [5]:
# I want to 14(index=14) to 20(20)
n1[14:20]

# 20 will not be included in the slice as the extreme right index is ignored in sliced

[14, 15, 16, 17, 18, 19]

In [7]:
n1[14:21]

# Now to get the 20 we had given the one more index

[14, 15, 16, 17, 18, 19, 20]

In [8]:
n1[14:] # Start index from 14 and goto the very last

[14, 15, 16, 17, 18, 19, 20]

In [9]:
n1[:6]

[0, 1, 2, 3, 4, 5]

# Copying a List

In [10]:
new = n1.copy() # Pass by value
new

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
new1 = n1[:] # Pass by value
new1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
new2 = n1[0:21] # Pass by value
new2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
new3 = new2 # Pass value by reference 
new3

# Referenced is transfered instead of pass by valule
# Mean the address of both variable will remain same 
# new3 = new2 >>> what this will do is simply give another refernce number
# Like two brother lives in a house and both will have same address

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
id(new2)

1512043898560

In [16]:
id(new3)

1512043898560

In [19]:
del new2[20]
n1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
new3

# Simply both have same reference so it will be also removed from other list
# a= 100
# b= a
# pass by reference >>> both are connected via a same reference

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
a= 100
b= a

In [23]:
id(a)

140724595667856

In [24]:
id(b)

140724595667856

In [26]:
c = 100

In [28]:
id(c) # Pthon interpreter is smart and detect from memory that it already have a 100 in 
      # so it will simply refer it to old 100 address

140724595667856

In [36]:
# Update (Replacing the old value)
myNums = [11,22,33,44,55,66,77]
myNums

[11, 22, 33, 44, 55, 66, 77]

In [38]:
myNums[2] = 3333

In [39]:
myNums

[11, 22, 3333, 44, 55, 66, 77]

In [40]:
myNums[2:4] =[33,"f4","f5"]

In [42]:
myNums

[11, 22, 33, 'f4', 'f5', 55, 66, 77]

In [44]:
#myNums = [starting_index, ending_index:step == 1]
myNums[1:6:1]

[22, 33, 'f4', 'f5', 55]

In [45]:
myNums[1:6:2]

[22, 'f4', 55]

In [46]:
myNums[::2]

[11, 33, 'f5', 66]

In [ ]:
# Is there a way to slice from right to left

In [47]:
n1 = [0,  1,  2,   3, 4,  5,   6,  7,  8,  9,  10, 11, 12,  13, 14, 15, 16, 17, 18, 19, 20]
n1[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
n1 = [0,  1,  2,   3, 4,  5,   6,  7,  8,  9,  10, 11, 12,  13, 14, 15, 16, 17, 18, 19, 20]
#   - 21 -20 -19 -18 -17 -16 -15 -14  -13 -12 -11 -10  -9  -8   -7  -6  -5  -4  -3  -2  -1 
#Reverse Index

In [51]:
n1[-3:-6] # As -3 is bigger than -6 so it will print empty list

[]

In [50]:
n1[-3:-6:-1]

[18, 17, 16]

In [52]:
n1[-6:-3]

[15, 16, 17]

In [53]:
# The rules of string slicing are same but string can't be update as it is immutable and its value can't be delete, remove

para = "we are learning python"
para[4:12]

're learn'

In [ ]:
para[4] = "erete " #Coz string sare immutable

In [54]:
para*2

'we are learning pythonwe are learning python'

In [55]:
para*4

'we are learning pythonwe are learning pythonwe are learning pythonwe are learning python'

In [56]:
a = str(6)
b = 3

a*b  # Since a is string so it multiply the statement will integers

'666'

In [58]:
myNums*2

[11, 22, 33, 'f4', 'f5', 55, 66, 77, 11, 22, 33, 'f4', 'f5', 55, 66, 77]

# Loops

In [59]:
# for loops
# while loops

In [60]:
# To reduce our code

In [61]:
print("Hoi")

Hoi

In [66]:
staff =[ "Naisr", "Asad", "Mehmon", "Naisr1", "Asad2", "Mehmon3"]
print(f"WELDONE {staff[0]}")
print(f"WELDONE {staff[1]}")
print(f"WELDONE {staff[2]}")
print(f"WELDONE {staff[3]}")
print(f"WELDONE {staff[4]}")
print(f"WELDONE {staff[5]}")

WELDONE Naisr
WELDONE Asad
WELDONE Mehmon
WELDONE Naisr1
WELDONE Asad2
WELDONE Mehmon3

## Loops

In [73]:
staff_list = ["Naisr","Asad","Mehmon","Naisr1","Asad2","Mehmon3"]

# to do repeated task in one go

for staff in staff_list:
    print(f"WELDONE {staff}")

WELDONE Naisr
WELDONE Asad
WELDONE Mehmon
WELDONE Naisr1
WELDONE Asad2
WELDONE Mehmon3

In [77]:
for staff in staff_list:
    print(staff)

Naisr
Asad
Mehmon
Naisr1
Asad2
Mehmon3

In [78]:
for character in para:
    print(character)
character

w
e

a
r
e

l
e
a
r
n
i
n
g

p
y
t
h
o
n

'n'

In [79]:
for character in "para":
    print(character)

p
a
r
a

In [80]:
for character in "para":
    print(character*10)

pppppppppp
aaaaaaaaaa
rrrrrrrrrr
aaaaaaaaaa

In [81]:
# String and list both are iterable
# Integers are not iterable

for digit in 10000:
    print(digit)

TypeError: 'int' object is not iterable

In [82]:
for digit in "10000":
    print(digit)

1
0
0
0
0

## Range()

In [84]:
for i in range(5): #01234
    print(i)

0
1
2
3
4

In [88]:
for i in range(5): #01234
    print(i,sep = ",", end = "")

01234

In [89]:
for i in range(1,25): 
    print(i, end = "")

123456789101112131415161718192021222324

In [90]:
for i in range(10,1): # Trying to print in reverse direction
    print(i)

In [91]:
for i in range(1,25,2): # step = 2
    print(i, end = "")

1357911131517192123

In [92]:
for i in range(1,25,3): # step = 3
    print(i, end = "")

1471013161922

In [94]:
for i in range(25,1,-1): # for reverse print the step should be in reverse direction
    print(i, end= "")

2524232221201918171615141312111098765432

In [95]:
for i in range(25,1,-3):
    print(i, end= "")

25221916131074

## For loops keywords

  - continue
  - break 
  - else

In [97]:
for nums in range(1,11):
    print(nums, end = "")

12345678910

In [101]:
for num in range(1,11):
    if num == 7:
        break # loop will break and will stop its execution
    
    print(num)

1
2
3
4
5
6

In [102]:
for num in range(1,11):
    if num == 7:
        continue # loop will skip from there and than remaining work
    print(num)

1
2
3
4
5
6
8
9
10

In [103]:
for num in range(1,11):
    if num == 7:
        continue # loop will skip from there and than remaining work
    print(num)

1
2
3
4
5
6
8
9
10

In [105]:
# write a program to check even and odd

num = int(input("enter a number"))

if num%2 ==0:
    print(f"The number {num} is even")
else:
    print(f"The number {num} is odd")

enter a number3
The number 3 is odd

In [107]:

for a in range(5):
    num = int(input("enter a number "))
    
    if num%2 ==0:
        print(f"The number {num} is even")
    else:
        print(f"The number {num} is odd")

enter a number 3
The number 3 is odd
enter a number 3
The number 3 is odd
enter a number 4
The number 4 is even
enter a number 5
The number 5 is odd
enter a number 6
The number 6 is even

In [113]:
even = []
odd  = []
for a in range(5):
    num = int(input("Enter a number "))
    
    if num%2 ==0:
        print(f"The number {num} is even")
        even.append(num)
    else:
        print(f"The number {num} is odd")
        odd.append(num)
        
print(f"The even numbers are {even} and odd are {odd}")

Enter a number 22
The number 22 is even
Enter a number 33
The number 33 is odd
Enter a number 12
The number 12 is even
Enter a number 3
The number 3 is odd
Enter a number 4
The number 4 is even
The even numbers are [22, 12, 4] and odd are [33, 3]

In [114]:
odd

[33, 3]

In [115]:
even

[22, 12, 4]

In [117]:
numbers = int(input("Enter your favourite numbers "))
numbers

Enter your favourite numbers 4

4

In [118]:
"my,name,is,Nasir".split(",")

['my', 'name', 'is', 'Nasir']

In [120]:
numbers = input("Enter your favourite numbers ")
numbers

Enter your favourite numbers 4,3,4,5,5,3,4,3,2,4,4,5,5,54,3,2,2,3,2,2

'4,3,4,5,5,3,4,3,2,4,4,5,5,54,3,2,2,3,2,2'

In [130]:
numbers = input("Enter your favourite numbers ").split(',')
numbers

Enter your favourite numbers 2,3,4,5,6,6,6,4,3,2,3,4,5,6

['2', '3', '4', '5', '6', '6', '6', '4', '3', '2', '3', '4', '5', '6']

In [129]:
numbers = input("Enter your favourite numbers ").split(',')
even = []
odd  = []

for number in numbers:        #intNum = int(number)
    if int(number)%2 == 0:
        even.append(number)
    else:                     #intNum = int(number) if int(number)%2 != 0:
        odd.append(number)
print(f"Evens are {even}")
print(f"Odds are {odd}")

Enter your favourite numbers 2,2,3,4,5,6,6,7,6,4,3
Evens are ['2', '2', '4', '6', '6', '6', '4']
Odds are ['3', '5', '7', '3']