# Previous Discussed

- More on List
- Loops

  - for loops

# Topic Discussed

- While loops
- list packing and unpacking
- tuple
- set
- dictionary

## Difference between for and while loop

For loop is used to run (block of codes) for a specific number of times and while loop is used to run for as long as given condition is met. If we know number of iterations exactly then we go for for loop. If we don't know number of iterations exactly then we go for while loop. both are for repeat a task continuously up to few number of iterations based on a some condition.
for loop is used when the number of iteration defined but in while loop it is undefined and you should use it until certain condition will met.

For Loop

For loop allows a programmer to execute a sequence of statements several times, it abbreviates the code which helps to manage loop variables.

While loop

While loop allows a programmer to repeat a single statement or a group of statements for the TRUE condition. It verifies the condition before executing the loop.

# while loop is conditional based 

The while loop statement is used to repeat a block of code till a condition is fulfilled. When we donâ€™t know the exact number of times, a loop statement has to be executed. We make use of while loops. This way, till the test expression holds true, the loop body will be executed.

while condition:
  #The loop body

#  The for loop

The for loop in python is used to iterate over a given sequence. The sequence can be a string, a list, a tuple, a set, a dictionary, etc. As long as the length of the sequence is not reached, it will iterate over that sequence. The for loop contains initialization, the test expression, and the increment/decrement expression in the C language. Whereas in the case of python, we only have to mention the value and the sequence to be iterated.

for value in sequence:
  #The loop body

In [5]:
for num in range(10):
    print("This looop will iterate for 10 times", num)

This looop will iterate for 10 times 0
This looop will iterate for 10 times 1
This looop will iterate for 10 times 2
This looop will iterate for 10 times 3
This looop will iterate for 10 times 4
This looop will iterate for 10 times 5
This looop will iterate for 10 times 6
This looop will iterate for 10 times 7
This looop will iterate for 10 times 8
This looop will iterate for 10 times 9

# While Loop

In [6]:
a = 0 
while a <10:
    print("This loop will run until value reches to 10",a)
    a +=1  # counter
print("I am out of while loop now")

This loop will run until value reches to 10 0
This loop will run until value reches to 10 1
This loop will run until value reches to 10 2
This loop will run until value reches to 10 3
This loop will run until value reches to 10 4
This loop will run until value reches to 10 5
This loop will run until value reches to 10 6
This loop will run until value reches to 10 7
This loop will run until value reches to 10 8
This loop will run until value reches to 10 9
I am out of while loop now

In [7]:
a = 0 
while a <10:
    print("This loop will run until value reches to 10",a)
    a +=1  # counter
print("I am out of while loop now")

I am out of while loop now

In [11]:
a = 10 
while a > 0:
    print("This loop will run until value reches to 0",a)
    a -=1  # counter
print("I am out of while loop now")

This loop will run until value reches to 0 10
This loop will run until value reches to 0 9
This loop will run until value reches to 0 8
This loop will run until value reches to 0 7
This loop will run until value reches to 0 6
This loop will run until value reches to 0 5
This loop will run until value reches to 0 4
This loop will run until value reches to 0 3
This loop will run until value reches to 0 2
This loop will run until value reches to 0 1
I am out of while loop now

In [12]:
# Continue and break both are used in while loop

In [13]:
# for loop is executed number of times
# we can use break keyword to break the for loop
# while loop also executed defined number of time but conditional based
# we can use break keyword to break the while loop

In [18]:
dishes = []
for a in range(3):
    x = input("Enter your favourite dished")
    dishes.append(x)
print(dishes)

Enter your favourite dishedbiryani
Enter your favourite dishedqorma
Enter your favourite dishedghosma
['biryani', 'qorma', 'ghosma']

In [67]:
num_of_dishes = int(input("Enter your number of dishes"))
for a in range(num_of_dishes):
    print(dishes)

Enter your number of dishes3
['ww', '', 'w']
['ww', '', 'w']
['ww', '', 'w']

In [68]:
dishes = []
num_of_dishes = int(input("Enter your number of dishes"))
for a in range(num_of_dishes):
    x = input("Enter your favourite dished")
    dishes.append(x)
print(dishes)

Enter your number of dishes4
Enter your favourite dishedd
Enter your favourite dishedds
Enter your favourite dishedfg
Enter your favourite dishedgd
['d', 'ds', 'fg', 'gd']

In [2]:
dishes = []
z = 0
while z<4:
    x = input("Enter your favourite dishes")
    dishes.append(x)
    z +=1
print(dishes)

Enter your favourite dished w
Enter your favourite dished w
Enter your favourite dished
Enter your favourite dished ee
['w', 'w', '', 'ee']

## Flag in while loop

In [4]:
flag = True
dishes = []
while flag:
    dish = input("Enter your favourite dish or q to exit")
    dishes.append(dish)
    if dish == "q":
        flag = False

    print(dishes)

Enter your favourite dish or q to exitg
['g']
Enter your favourite dish or q to exitj
['g', 'j']
Enter your favourite dish or q to exith
['g', 'j', 'h']
Enter your favourite dish or q to exith
['g', 'j', 'h', 'h']
Enter your favourite dish or q to exitf
['g', 'j', 'h', 'h', 'f']
Enter your favourite dish or q to exitq
['g', 'j', 'h', 'h', 'f', 'q']

In [5]:
flag = True
dishes = []
while flag:
    dish = input("Enter your favourite dish or q to exit")
   
    if dish == "q":
        flag = False
    else:
        dishes.append(dish)

    print(dishes)

Enter your favourite dish or q to exitw
['w']
Enter your favourite dish or q to exitw
['w', 'w']
Enter your favourite dish or q to exite
['w', 'w', 'e']
Enter your favourite dish or q to exitq
['w', 'w', 'e']

In [6]:
flag = True
dishes = []
for a in range(3):
    dish = input("Enter your favourite dish or q to exit")
   
    if dish == "q":
        flag = False
    else:
        dishes.append(dish)

print(dishes)

Enter your favourite dish or q to exitw
Enter your favourite dish or q to exitw
Enter your favourite dish or q to exitw
['w', 'w', 'w']

In [7]:
# for loop can not its limit 
# maximum it will go to 3 iterations

In [9]:
#flag = True
dishes = []
for a in range(5):
    dish = input("Enter your favourite dish or q to exit")
   
    if dish == "q":
        break
    else:
        dishes.append(dish)

print(dishes)

Enter your favourite dish or q to exitww
Enter your favourite dish or q to exit
Enter your favourite dish or q to exitw
Enter your favourite dish or q to exitq
['ww', '', 'w']

## List Packing and Unpacking

In [11]:
a = ["mango", "apple", "grapes", "peas"]
# Packing

In [13]:
fruit1, fruit2, fruit3, fruit4 = a
# Unpacking

In [15]:
print(fruit1, fruit2, fruit3, fruit4)

mango apple grapes peas

In [16]:
e = ["mango", "apple", "grapes", "peas"]
# Packing

In [17]:
fruit1, fruit2, fruit3, fruit4, fruit5 = e
# Giving more values than total

ValueError: not enough values to unpack (expected 5, got 4)

In [18]:
fruit1, fruit2, fruit3 = e
# Giving less values than total

ValueError: too many values to unpack (expected 3)

In [19]:
fruit1, fruit2, fruit3, fruit4 = e
# Giving equal values than total

In [20]:
print(fruit1, fruit2, fruit3, fruit4)

mango apple grapes peas

# Tuple

As we has studeid before, strings are immutable and we can make changes in orignal string.
Tuples are datatypes similar to list with one difference which is tuples are immutable like strings

In [22]:
a_tuple = ()

In [23]:
# Changes can be only done at the time of declaration and initialization

In [24]:
b_tuple = ("mango", "apple", "grapes", "peas")

In [25]:
b_tuple

('mango', 'apple', 'grapes', 'peas')

In [26]:
names = "nasir", "osama", "shakeel", "hussain"

In [27]:
names

('nasir', 'osama', 'shakeel', 'hussain')

In [28]:
type(names)

tuple

In [29]:
st1,st2,st3,st4 = names
#unpacking

In [30]:
print(st1,st2,st3,st4)

nasir osama shakeel hussain

In [31]:
names[0]

'nasir'

In [32]:
names[0:2]

('nasir', 'osama')

In [34]:
names[:]

('nasir', 'osama', 'shakeel', 'hussain')

In [36]:
# We can not perfrom append,, pop , slice, update and delete in tuples
# As we can not make changes in orignal tuple value

In [38]:
names.count("osama")

1

In [39]:
names.index("osama")

1

In [42]:
two_stud = names[0:2] #making a copy of tuple

In [43]:
two_stud

('nasir', 'osama')

In [45]:
list(names) #Typecasting

['nasir', 'osama', 'shakeel', 'hussain']

In [46]:
names

('nasir', 'osama', 'shakeel', 'hussain')

In [47]:
tuple(a) # typecasting

('mango', 'apple', 'grapes', 'peas')

In [48]:
a

['mango', 'apple', 'grapes', 'peas']

In [49]:
# A tuple can have a tuple in it
multi_tuple = (2,3,4,5,names) #tuple in tuple

In [50]:
multi_tuple

(2, 3, 4, 5, ('nasir', 'osama', 'shakeel', 'hussain'))

In [54]:
multi_tuple[4][1]

'osama'

In [51]:
# A tuple can have a kist in it
list_in_tuple = (2,3,4,5,a)

In [52]:
list_in_tuple

(2, 3, 4, 5, ['mango', 'apple', 'grapes', 'peas'])

In [55]:
list_in_tuple[4][1]

'apple'

# Set

Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are ... 
set is an unordered collection data type its iterable,mutable and has no duplicate elements set, In mathematics and logic, any collection of objects (elements), which may be mathematical (e.g., numbers, functions)

In [58]:
a_set = {1,2,3,4,5,6}

In [59]:
type(a_set)

set

In [62]:
b_set = set(a) #typecaste

In [63]:
b_set

{'apple', 'grapes', 'mango', 'peas'}

In [64]:
# Set is a collection of well defined and distinct object 
# These objects can be strings, numbers, list or tuple
# Set can not have repeated value

In [87]:
d = set([9,8,7,6,5,4,3,2,1])

In [88]:
d

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
c = {1,23,3,44,5,67,1,23,3}

In [66]:
c

{1, 3, 5, 23, 44, 67}

Now to remove repetive values from list or tuple we can simply typecaste it in set and set will remove the duplicate

In [ ]:
# We have set functions .add, copy, difference and many more

In [69]:
c.discard(67)

In [70]:
c

{1, 3, 5, 23, 44}

In [71]:
c.remove(44)

In [72]:
c

{1, 3, 5, 23}

In [74]:
c.discard(12) # discarding a value that doesn't exist

In [75]:
c

{1, 3, 5, 23}

In [76]:
c.remove(13) # removing a value that doesn't exist
# It will through an error

KeyError: 13

In [79]:
print(c.pop()) # Will delete a random file
print(c)

5
{23}

In [81]:
c.clear()

In [82]:
c

set()

In [80]:
b = {2,3,4,5,3,4,5,6,7,8}

In [83]:
# add function in set
b.add(456)

In [84]:
print(b)

{2, 3, 4, 5, 6, 7, 8, 456}

In [85]:
b.add(345)
b

{2, 3, 4, 5, 6, 7, 8, 345, 456}

In [86]:
# Updating set giving multiole values 
b.update([2,3,4,56,9])
b

{2, 3, 4, 5, 6, 7, 8, 9, 56, 345, 456}

In [89]:
c.update([11,12,13,14],d)

In [90]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14}

In [91]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

In [92]:
s4 = s1.intersection(s2)

In [93]:
s4

{2, 3}

In [94]:
s5 = s1.intersection(s2,s3)

In [95]:
s5

{3}

In [96]:
s6 = s1.difference(s2)
s6

{1}

In [97]:
s7 = s1.difference(s2,s3)# s have 1,2,3 s2 have 2,3,4 and s3 have 3,4,5 means s1 has only 1 has unique has compare to other both
                         # so it will only return 1 as difference
s7

{1}

In [98]:
s8 = s2.difference(s1)  # s2 has only 4 as different from s1
s8

{4}

In [100]:
s9 = s2.difference(s1,s3) # it has nothing different from both sets
s9

set()

In [102]:
s10 = s1.symmetric_difference(s2) # differnce in both
s10

{1, 4}

In [103]:
l1 = [1,2,3,1,2,3] # Removing duplicate from list
l2 = list(set(l1))
l2

[1, 2, 3]

In [107]:
house_members = ["osama", "zain", "hassan", "amir", "yaseen", "Muhammad", "Ahmed"]
job_mem = ["amir", "yaseen","osama"]
stud_mem = ["osama", "zain", "hassan"]

job_stud_mem = set(job_mem).intersection(stud_mem)
job_stud_mem

{'osama'}

In [108]:
nor_job_stud_mem = set(house_members).difference(stud_mem, job_mem)
nor_job_stud_mem

{'Ahmed', 'Muhammad'}

In [109]:
if "osama" in job_mem:
    print("found!")

found!

In [ ]:
# We can use for loop for finding any element from the list but we can do this using intersection and difference 
# function in sets.

# One can be more effecient than other 
# Improve code performance and effeciency

# Dictionary

In [60]:
a_dictionary = {"key":100}

In [61]:
type(a_dictionary)

dict