# Data Base

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

 A database is usually controlled by a database management system (DBMS).

Application have three parts: Fronted, Backend and Database

DataBase: Where we store data.

BackEnd: Behave as API (Application programing interface ) connect frontend with database

Table Data : Tabular

Structured + Tabular

PostgreSQL

SQL : Structured Query Language

SQL ==> Oracle, MySQL, PostgreSQL, sqlite (structured)
DB2, MangoDB (Unstructured)

Things to remember : Port number and password

saylani1234

5432

user : postgres

pass : saylani1234

In [5]:
import psycopg2

In [14]:
host_name = "localhost"
data_base = "postgres"
user_name = "postgres"
pwd = 'saylani1234'
port_id = 5432

# Configuration File

In [30]:
cur  = None
conn = None
try:
    conn = psycopg2.connect(host = host_name, 
                 port = port_id,
                 user = user_name,
                 password = pwd,
                 dbname = data_base
                ) # CRUD OPERATION :CREATE, READ, UPDATE, DELETE
    cur = conn.cursor()
    
    cur.execute("DROP TABLE IF EXISTS student")
    #Step1
    create_table_script =  """
    CREATE TABLE IF NOT EXISTS student(
    id    INT    PRIMARY KEY
   ,name  VARCHAR(50)    NOT NULL
   ,course VARCHAR(50)   NOT NULL
   ,fees   INT 
    )
    """
    #Step2 : Execute query using cur
    cur.execute(create_table_script)
    
    #INSERT TABLE DATA QUERY
    insert_table_script = """
    INSERT INTO student(id, name, course, fees)
    VALUES(%s, %s, %s, %s)
    
    """
    records = (113, "Nasir", "SMIT", 5000)
    cur.execute(insert_table_script, records)
    

#     For muliple records
#     records = [(113, "Kasir", "SMIT", 5000),
#                (114, "Basir", "SMIT", 5000),
#                (115, "Wasir", "JPK", 5000),
#                (116, "Qasir", "JPK", 5000),
#                (117, "Zasir", "JPK", 5000)] 
#     for record in records:
#         cur.execute(insert_table_script, records)
    update_records_script = """
    UPDATE student SET fees = fees + (fees*0.2)
    """ 
    cur.execute(update_records_script)
    
    
    
    #Step3 : Commit the changes using conn (1 time)
    conn.commit()

   
except Exception as error:
    print("Exception Caught: "+ str(error))
    
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close() # must close the database once it is open